*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    /* background-color: aliceblue; */
    color: #fff;
    
}
#heade{
    width: 100%;height: 100vh;
    background-image: url(imageMe2.jpg);
    background-size: cover;background-position: center;
}
.container{
    padding: 10px 10%;
    /* display: flex; */
}
nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li {
    display: inline;
    list-style: none;
    margin: 10px 20px ;
}
nav ul li a{
    text-decoration:none;
    color:blue ;
    font-size: 18px ;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: 0.5s ;
}
nav ul li a:hover::after{
    width: 100%;
}
.headerText{
    margin-top: 20%;
    font-size: 30px ;
    display:flex ;
}
.headerText h1{
    font-size: 60px;
    margin-top: 20px;
}
#about{
    padding: 80px;
    color:#ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
   flex-basis: 50%;
}
.subTitle{
   font-size: 60px;
   font-weight: 600;
   color:white;
}
.tabTitles{
    display: flex;
    margin: 20px 0 40px;
}
.tabLinks{
    margin-right: 50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tabLinks::after{
    content:'';
    width:0;
    height:3px;
    background-color: red;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tabLinks.activeLinks::after{
    width: 50%;
}
.tabContents ul li{
    list-style: none;
    margin: 10px 0px ;
}
.tabContents ul li span{
    color:red;
    font-size: 14px;
}
.tabContents{
    display: none;
}
.tabContents.activeTabs{
    display: block;
}

/* sevices */
#services{
    padding: 30px 0px ;
}
.servicesList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.servicesList div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-color 0.5s ,transform 0.5s;
}
.servicesList div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.servicesList div a{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.servicesList div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}

/* Portfoilio  */

#portfolio{
  padding: 50px 0;
}
.workList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    /* overflow: ; */
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 90%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color:red;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height:60px;
    border-radius:50% ;
    text-align: center;
}
.work:hover  {
    transform: scale(1.01);
}
.work:hover .layer{
    height: 100%;
    width: 90.5%;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid red;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:white;
    /* cursor:copy; */
    transition: background-color 0.5s;
}
.btn:hover{
    background-color: red;
}

/* contact  */
.contactLeft{
    flex-basis: 35%;
}
.contactRight{
    flex-basis: 60%;

}
.contactLeft p{
    padding-top: 30px;
}
.socialIcons{
    margin-top: 30px
}
.socialIcons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px ;
    color :#ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.socialIcons a:hover{
    color:red;
    transform: translateY(-5px);
}
.btn.btn2 {
   display: inline-block;
   background: red;
}

.contactRight form {
    width:100%;
}
form input, form textarea {
    width: 100%;
    border:0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}